In [1]:
import pandas as pd
import numpy as np
import os
from random import randint

In [2]:
rootPath = './LSTM/'
dataList = os.listdir(rootPath)

In [3]:
selectPath = os.path.join(rootPath, dataList[randint(0, len(dataList))])
dataframe = pd.read_csv(selectPath)
dataframe

,Unnamed: 0,Day 01,Day 02,Day 03,Day 04,Day 05,Day 06,Day 07,Day 08,Day 09,Day 10,Day 11,Day 12,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19
0,gender,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,DNR,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,age,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000,32.000
3,height,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000,180.000
4,weight,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500,204.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,albumin,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731,3.731
109,pH,7.470,7.580,7.490,7.480,7.510,7.380,7.390,7.370,7.430,7.430,7.430,7.430,7.430,7.430,7.430,7.430,7.430,7.440,7.440
110,total protein,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747,6.747
111,phosphate,3.700,2.500,3.200,4.000,3.700,3.800,3.700,3.700,3.700,3.700,3.700,4.800,4.200,4.700,5.300,4.600,4.400,4.800,4.800
112,PT - INR,1.313,1.300,1.300,1.300,1.300,1.300,1.300,1.300,1.300,1.300,1.300,1.300,1.100,1.100,1.100,1.100,1.100,1.200,1.300

In [6]:
dataframe['Unnamed: 0'].unique()

array(['gender', 'DNR', 'age', 'height', 'weight', 'RSBI', 'troponin - I',
       'lactate', 'fibrinogen', 'CPK-MB INDEX', 'CPK', 'CPK-MB', 'HDL',
       'LDL', 'total cholesterol', 'triglycerides', 'PTT', 'PTT ratio',
       'TSH', 'ammonia', 'amylase', 'lipase', 'T4', 'Vitamin B12', 'Fe',
       'TIBC', 'ionized calcium', 'Ferritin', 'cortisol', 'free T4', 'T3',
       'uric acid', 'serum osmolality', 'BNP', 'troponin - T', 'CRP',
       'Fe/TIBC Ratio', 'LDH', 'transferrin', 'prealbumin', 'MI', 'CHF',
       'PVD', 'CVD', 'Dementia', 'CPD', 'RD', 'PUD', 'MLD', 'DM_acute',
       'DM_Chronic', 'Hemiplegia', 'Renal', 'Malignancy', 'LD', 'MST',
       'AIDS', 'Aspergillus', 'Candida', 'GNB', 'GPC', 'Vasopressor',
       'Relaxant', 'Sedation', 'PPI', 'Pain control', 'intaketotal',
       'outputtotal', 'nettotal', 'Compliance', 'PC mode',
       'Peak airway pressure', 'Plateau', 'Pressure support',
       'Resistance', 'FiO2', 'Minute ventilation', 'Mean airway pressure',
       'PEEP', 'Respiratory rate', 'tidal volume', 'ROXindex', 'sao2',
       'respiration', 'heartrate', 'systemicsystolic',
       'systemicdiastolic', 'systemicmean', 'platelets x 1000',
       'WBC x 1000', 'Hgb', 'chloride', 'glucose', 'potassium', 'calcium',
       'BUN', 'creatinine', 'sodium', 'bedside glucose', 'AST (SGOT)',
       'magnesium', 'bicarbonate', 'total bilirubin', 'alkaline phos.',
       'paCO2', 'paO2', 'HCO3', 'ALT (SGPT)', 'albumin', 'pH',
       'total protein', 'phosphate', 'PT - INR'], dtype=object)